<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>/u/icanlegothat</title>

    <link href="{{ 'css/bootstrap.min.css'|static }}" rel="stylesheet">
    <link href="{{ 'css/style.css'|static }}" rel="stylesheet">
</head>
<body>
    <h1>u/icanlegothat</h1>

    {% block content %}{% endblock %}

<script src="{{ 'jquery.js'|static }}"></script>
<script src="{{ 'js/bootstrap.min.js'|static }}:"></script>
</body>
</html>
